*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.first{
    height: 130vh;
    width: 100%;
    background-image: url('/assets/77c0680.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-color: darkblue;   
}
nav{
    display: flex;
    justify-content: space-between;
    height: 8%;
    align-items: center;
    padding: 0px 165px 0px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.82);
    font-size: 13px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.rest{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.rest .main{
    padding: 130px 430px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.rest div h1{
    font-size: 120px;
    font-weight: 803;
    line-height: 125px;
    letter-spacing: -6.5px;
}
.rest div span{
    color: lightblue;
}
.rest div p{
    font-size: 21px;
    line-height: 34px;
    font-weight: 290;
    padding-top: 130px;
}
.start{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
}
.start a{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: end;
    text-decoration: none;
}
.start button{
    height: 70px;
    width: 270px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start button a{
    color: black;
    font-size: 21px;
    font-weight: 540;
}
.start a{
    font-size: 21px;
    font-weight: 540;
}
.scrolling{
    height: 150px;
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 30px;
    background-color: black;
    padding: 43px 0px;
}
.scrolling img{
    animation-name: scroll;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    transition: ease;
}
@keyframes scroll{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-2050px);
    }
}
.block{
    display: flex;
    flex-direction: column;
    padding: 100px 500px 50px 270px;
    background-color: black;
    color: white;
    background-image: url('/assets/c70af5a.png');
    background-repeat: no-repeat;
    background-position-x: 850px;
    background-position-y: center;
}
.block h1{
    letter-spacing: -3px;
    line-height: 79.1px;
    font-size: 67px;
    color: rgb(255, 255, 255);
}
.points{
    display: flex;
    gap: 150px;
    padding-top: 30px;
}
.points div h4{
    color: (255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 21px;
}
.points div h2{
    color: rgb(255, 255, 255);
    font-size: 50.5px;
    line-height: 64.1px;
    font-weight: 720;
}
.block p{
    color: rgba(255, 255, 255, 0.82);
    font-size: 21.3px;
    line-height: 34px;
    font-weight: 290;
    padding: 30px 200px 0px 0px;
}
.block button{
    height: 70px;
    width: 400px;
    background-color: white;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
}
.block button a{
    font-weight: 530;
    text-decoration: none;
    font-size: 21px;
    color: black;
}
.extra{
    height: 200px;
    background-color: rgba(0, 0, 0, 0.832);
    padding: 0px 0px 50px;
}
.extra img{
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
}
.grid{
    display: grid;
    padding: 0px 200px 0px 260px;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    background-color: black;
}
/* .grid div{
    background-color: black;
} */
.tools{
    display: flex;
    flex-direction: column;
    padding: 0px 65px 0px 0px;
}
.tool{
    display: flex;
    gap: 20px;
    padding: 25px 50px 25px 20px;
}
.tool div h3{
    font-size: 21px;
    color: rgb(255, 255, 255);
    line-height: 27.4px;
}
.tool div p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.82);
    line-height: 26px;
    padding-top: 8px;
}
.tools hr{
    border: 1px solid whitesmoke;
}
.design{
    display: flex;
    flex-direction: column;
    padding: 105px 0px 20px;
}
.design h1{
    line-height: 79px;
    letter-spacing: -3.7px;
    color: rgb(255, 255, 255);
    font-size: 67px;
    /* padding: 0px 20px 0px 0px; */
}
.design p{
    color: rgba(255, 255, 255, 0.82);
    font-size: 21.3px;
    font-weight: 290;
    line-height: 34px;
    padding-top: 35px;
}
.design button{
    height: 75px;
    width: 430px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin-top: 65px;
}
.design button a{
    font-weight: 540;
    text-decoration: none;
    font-size: 21px;
    color: black;
}
.facts{
    display: flex;
    flex-direction: column;
}
.facts div p{
    font-size: 21.3px;
    line-height: 32px;
    color: white;
    font-weight: 320;
    padding-top: 15px;
}
.facts div span{
    color: rgba(255, 255, 255, 0.82);
    font-weight: 680;
}
.facts div svg{
    color: white;
}
.after{
    padding-top: 100px;
}
.two{
    padding-top: 70px;
}
.smart{
    height: 50vh;
}